.click-thru {
  padding-top: 10px;
  float: right;
}
.home-header {
  text-align: center;
}
.pic-thumb {
  display: block;
  margin: 0px auto;
}

/** Spinner code is from: 
 * http://stephanwagner.me/only-css-loading-spinner
 **/

@keyframes spinner {
  to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
  to {-webkit-transform: rotate(360deg);}
}

.loading-area {
  position: relative;
}

.spinner {
  min-width: 24px;
  min-height: 24px; 
}

.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -10px;
  margin-left: -10px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .3);
  border-top-color: rgba(0, 0, 0, .6);
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}

.one-row.ng-enter-stagger{
  animation-delay: .075s;
  -webkit-animation-delay: .075s;
}

.one-row.ng-enter{
  animation-name: flip-down;
  animation-duration: .3s;
  animation-timing-function: ease;
  -webkit-animation-name: flip-down;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: ease;
}

.cat.ng-enter-stagger {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.results-header, .one-contest-description, .cat {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes flip-down {
  0% {
    -webkit-transform: perspective( 350px ) rotateX( -90deg);
    transform: perspective( 350px ) rotateX( -90deg);
      }
  100% {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective( 350px ) rotateX( 0deg );
    transform: perspective( 350px ) rotateX( 0deg );
  }
}

@keyframes flip-down {
  0% {
    -webkit-transform: perspective( 350px ) rotateX( -90deg);
    transform: perspective( 350px ) rotateX( -90deg);
  }
  100% {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: perspective( 350px ) rotateX( 0deg );
    transform: perspective( 350px ) rotateX( 0deg );
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100$ {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
}
  100$ {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

